@import '../../../../../styles/zeroing/global';

.slider-wrapper {
    padding: 10px 0;

    overflow: visible;
}

.add-transaction-account { width: auto !important }

.add-transaction-account-info {
    min-width: 140px;
    max-width: 200px;

    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: repeat(2, 15px);
    column-gap: 10px;
    row-gap: 5px;

    overflow: hidden;

    background-color: $main-gray-background;

    transition: .3s;

    padding: 5px 10px 5px 5px;

    border-radius: 20px;

    font-family: custom-bold, Manrope, sans-serif;
}

.add-transaction-account-info__sign {
    grid-row: span 2;

    display: flex;
    align-items: center;
    justify-content: center;
}

.add-transaction-account-info__sign-wrapper {
    width: 30px;
    height: 30px;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 10px;

    border-radius: 20px;

    background-color: $main-green-color;

    transition: .3s;

    svg { width: 18px; height: 18px; color: #fff; transition: .3s }
}


.add-transaction-account-info__name,
.add-transaction-account-info__count {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    overflow: hidden;

    white-space: nowrap;

    font-size: 14px;
}

.add-transaction-account-active {
    .add-transaction-account-info {
        background-color: $main-green-color;
        color: #fff
    }
    .add-transaction-account-info__sign-wrapper {
        background-color: #fff;
        svg { color: $main-green-color }
    }
}