@import '../../../../styles/zeroing/global';

// section

.analytics-active-category-section {
    display: flex;
    flex-direction: column;
    gap: 10px;

    background-color: #fff;

    padding: 0 20px 10px 20px;
}








