@import '../../../../styles/zeroing/global';

// section

.analytics-active-category-section {
    display: flex;
    flex-direction: column;
    gap: 10px;

    border-radius: 20px 20px 0 0 ;

    background-color: #fff;

    padding: 20px 20px 10px 20px;
}








