@import '../../../zeroing/zeroing';

.date-filter-modal-window {
    display: flex;
    flex-direction: column;
}

.date-filter-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 20px;

    font-family: custom-bold, Manrope, sans-serif;

    position: relative;
}

.date-filter-btn-active-checker {
    width: 20px;
    height: 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;

    border: 2px solid #000;
}

.date-checker-active {
    &:after {
        content: '';
        width: 80%;
        height: 80%;

        background-color: $main-green-color;

        border-radius: 50%;
    }
}