@import '../../../../../styles/zeroing/global', '../modified-transaction-modal-window-settings';

.modified-transaction-type {
    @extend %visible-info;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.modified-option-type-name {
    font-size: 18px;

    padding-left: 20px;

    font-family: custom-bold, Manrope, sans-serif;
}

.modified-option-type-value {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    padding-right: 20px;
}