@import '../../../styles/zeroing/global';
// main section
.transactions-page {
    max-width: 100%;

    flex-grow: 1;
    flex-direction: column;
    padding: 20px 0;
    gap: 10px;

    position: relative;
}





