@import '../../../../../styles/zeroing/global';

.add-transaction-type {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 20px 10px 20px;
}

.transaction-type {
    display: flex;
    justify-content: center;

    font-family: custom-bold, Manrope, sans-serif;

    transition: .3s ;

    position: relative;

    padding: 10px 0;

    border-radius: 20px;
}

.transaction-type-active { padding: 10px 20px; background-color: $main-gray-background }