@import '../../../../../styles/zeroing/global';

.add-transaction-date-section {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 10px 20px;
}

.add-transaction-date-arrow {
    width: 15px;
    height: 15px;

    padding: 10px;

    transition: .3s;

    border-radius: 50%;

    &:active { background-color: $main-gray-active-color }
}

.add-transaction-date-wrapper { position: relative }

.add-transaction-date-input {
    width: 0;
    height: 0;

    position: absolute;
    top: 0;
    left: 0;

    opacity: 0;
}

.add-transaction-date-info {
    max-width: 250px;

    display: flex;
    align-items: center;
    gap: 10px;

    overflow: hidden;

    padding: 10px 20px;

    border-radius: 20px;

    background-color: $main-gray-background;

    transition: .1s;

    &:active { background-color: rgb($main-gray-background, 0.5) }
}
