@import '../../../../../styles/zeroing/global';

.add-transaction-sub-more-info {
    padding: 0 20px 0;

    transition: .3s;
}

.add-transaction-sub-more-info-slide {
    width: auto !important;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    padding: 6px 12px;

    font-family: custom-bold, Manrope, sans-serif;

    border: 2px solid var(--category-color);
    border-radius: 12px;

    color: var(--category-color);

    transition: .3s;
}

.add-transaction-sub-more-info-slide-active {
    background-color: var(--category-color);

    color: #fff;
}