@import '../../../../../styles/zeroing/global';

.add-transaction-sub-more-info {
    padding: 0 20px 0;

    transition: .3s;
}

.add-transaction-sub-more-info-slide {
    width: auto !important;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    padding: 7.5px 10px 7.5px 5px;

    border-radius: 20px;

    background-color: $main-gray-background;

    transition: .3s;
}

.add-transaction-sub-more-info__sign {
    width: 30px;
    height: 30px;

    grid-row: span 2;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 10px;

    border-radius: 20px;

    background-color: var(--category-color);

    transition: .3s;

    svg { width: 16px; height: 16px; color: #fff; transition: .3s }
}

.add-transaction-sub-more-info__name { font-size: 14px }

.add-transaction-sub-more-info-slide-active {
    background-color: var(--category-color);

    color: #fff;

    .add-transaction-sub-more-info__sign {
        background-color: #fff;
        svg { color:  var(--category-color) }
    }
}
