@import '../../styles/zeroing/global';

.transactions-filter {
    width: calc(100vw - 40px);

    display: flex;
    flex-direction: column;
    align-self: center;

    padding: 10px;

    box-shadow: 0 0 15px lightgray;

    border-radius: 20px;
}

.date-filter-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}