@import '../../styles/zeroing/global';
.modal-window {
    width: 100vw;
    height: 100vh;

    display: flex;

    position: fixed;
    top: 0;
    left: 0;

    background-color: $modal-window-background;
    opacity: 0;

    transition: .3s;

    pointer-events: none;

    z-index: 91;
}

.modal-window-appearance {
    opacity: 1;
    pointer-events: all;
}

.modal-window-content {
    width: 100%;

    position: absolute;

    bottom: -100%;

    transition: .3s;

    border-radius: 20px 20px 0 0;
}

.modal-window-content-appearance {
    bottom: 0
}