@import '../../styles/zeroing/global';
.modal-window {
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    top: 0;
    left: 0;

    background-color: $modal-window-background;

    opacity: 0;

    transition: .3s;

    pointer-events: none;

    z-index: 91;
}

.modal-window-appearance {
    opacity: 1;
    pointer-events: all;
}

.modal-window-content-bottom {
    width: 100vw;
    max-height: 100vh;

    overflow-y: scroll;
    overflow-x: hidden;

    display: flex;
    flex-direction: column;

    position: absolute;
    bottom: -100%;

    transition: .3s;

    @extend %delete-scroll;
}

.modal-window-content-bottom-appearance { bottom: 0 }

.modal-window-content-center {
    display: flex;
    flex-direction: column;

    background-color: #fff;

    transition: .3s;

    border-radius: 20px;

    @extend %delete-scroll;
}

