@import '../../../../../styles/zeroing/global';

.analytics-sub-categories-info-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;

    padding: 10px 0;

    border-top: 1px solid $main-gray-color;
    border-bottom: 1px solid $main-gray-color;
}

.none-sub-categories {
    display: none;
}

.category-no-click {
    pointer-events: none;
}