@import '../../../../../styles/zeroing/global';

.modified-transaction-buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;

    padding: 10px;

    background-color: $main-gray-background;

    position: sticky;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.modified-transaction-button {
    width: 90px;
    height: 60px;

    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;

    svg {
        width: 18px;
        height: 18px;
    }

    font-family: custom-bold, Manrope, sans-serif;

    border-radius: 30px;

    background-color: #fff;

    transition: .3s;
}

.modified-btn-active {
    background-color: $main-green-color;
    color: #fff;
}

.modified-repeat-btn {
    &:active {
        background-color: $main-orange-color;
        color: #fff;
    }
}

.modified-delete-btn {
    &:active {
        background-color: $main-red-color;
        color: #fff;
    }
}

.modified-btn-visible {
    display: flex !important;
}

.modified-apply-cancel-buttons {
    display: flex;
    align-items: center;
    gap: 20px;
}