@import '../../styles/zeroing/global';

header {
    align-self: stretch;

    display: flex;
    align-items: center;
    justify-content: space-between;

    box-shadow: $main-shadow;

    background-color: #fff;

    padding: 10px 15px;

    z-index: 90;

    position: sticky;
    top: 0;
    left: 0;
}

.header-user-main-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-avatar {
    width: 50px;
    height: 50px;

    border-radius: 50%;
    border: 2px solid $main-green-color;
}

.header-user-nickname {
    color: $main-gray-color;
}

.header-buttons {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-button {
    display: flex;
    align-items: center;

    svg {
        width: 20px;
        height: 20px;
    }
}