@import '../../../../../styles/zeroing/global';

.add-transaction-income-category-wrapper {
    width: 33.3333%;

    overflow: hidden;

    padding: 10px 20px;
}

.add-transaction-income-category {
    width: auto !important;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    padding: 7.5px 10px 7.5px 5px;

    border-radius: 20px;

    background-color: $main-gray-background;

    transition: .3s;
}

.add-transaction-income-category__sign {
    width: 30px;
    height: 30px;

    grid-row: span 2;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 10px;

    border-radius: 20px;

    background-color: var(--category-color);

    transition: .3s;

    svg { width: 16px; height: 16px; color: #fff; transition: .3s }
}

.add-transaction-income-category__name { font-size: 14px }


.add-transaction-category-income-active {
    background-color: var(--category-color);

    color: #fff;

    .add-transaction-income-category__sign {
        background-color: #fff;
        svg { color:  var(--category-color) }
    }
}