@import '../../../../styles/zeroing/global';

%visible-info {
    display: flex;
    flex-direction: column;
    gap: 0;

    padding: 10px 0;

    border-radius: 20px;

    background-color: $main-gray-background;

    transition: .3s;
}