@import '../../../../../styles/zeroing/global';

.transaction-info-buttons {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-around;

    position: sticky;
    bottom: 0;
    left: 0;

    padding: 10px;

    background-color: $main-gray-background;

    z-index: 1;
}

.transaction-info-btn {
    width: 90px;
    height: 60px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;

    border-radius: 30px;

    background-color: #fff;

    font-family: custom-bold, Manrope, sans-serif;

    transition: all .2s;

    svg {
        width: 18px;
        height: 18px;
    }
}

.modified-mode-on {
    background-color: $main-green-color;

    color: #fff;

    svg {color: #fff;}
}

.apply-btn {svg{color: $main-green-color}}
.cancel-btn {svg{color: $main-red-color}}

.repeat-btn {&:active {background-color: $main-orange-color; color: #fff}}
.del-btn {&:active {background-color: $main-red-color; color: #fff}}
.apply-btn {&:active {background-color: $main-green-color; svg{color: #fff}}}
.cancel-btn {&:active {background-color: $main-red-color; svg{color: #fff}}}