@import '../../../../../styles/zeroing/global';

.modified-transaction-type {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.modified-option-type-name {
    font-size: 18px;

    font-family: custom-bold, Manrope, sans-serif;
}

.modified-option-type-value {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}