@import '../../../styles/zeroing/global';

.transaction-chunk {
    display: flex;
    flex-direction: column;
    gap: 10px;

    padding: 0 10px;
}

.transaction-chunk-header {
    font-family: custom-bold, Manrope, sans-serif;
    font-size: 20px;

    padding-left: 10px;
}

.transaction {
    display: grid;
    grid-template-rows: repeat(2, 25px);
    grid-template-columns: 45px 1fr auto;


    column-gap: 15px;

    border-radius: 15px;
    padding: 10px;

    transition: 0.1s;

    &:active {background-color: $main-gray-active-color;}
}

.transaction-sign {
    grid-row: span 2;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 15px;

    svg {
        color: #fff;
        width: 20px;
        height: 20px;
    }

    div {
        width: 45px;
        height: 45px;

        background-color: var(--background);

        display: flex;
        align-items: center;
        justify-content: center;

        border-radius: 15px;
    }
}

.transaction-info {
    display: flex;
    align-items: center;

    overflow: hidden;
    white-space: nowrap;
}

.transaction-count, {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    overflow: hidden;
    white-space: nowrap;

    color: var(--count-color);
}

.transaction-time {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    overflow: hidden;
    white-space: nowrap;

    color: $main-opacity-color;

    font-size: 14px;
}

.transaction-additional-info {
    display: flex;
    align-items: center;

    overflow: hidden;
    white-space: nowrap;

    color: $main-opacity-color;
}


