@import '../../../../../styles/zeroing/global';

.modified-datepicker-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.modified-datepicker-label {
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.modified-datepicker-input {
    width: 0;
    height: 0;

    position: absolute;
    top: 0;
    left: 0;

    opacity: 0;
}

.modified-date-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 6px 12px;

    border-radius: 22px;
    border: 2px solid $main-green-color;

    font-family: custom-bold, Manrope, sans-serif;
    font-size: 16px;

    color: $main-green-color;

    transition: .3s;

    &:active {
        background-color: $main-green-color;

        color: #fff;
    }
}

.modified-datepicker-arrow {
    width: 30px;
    height: 30px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;

    color: $main-green-color;

    transition: .3s;

    &:active {
        background-color: $main-gray-active-color;
    }
}