@import '../../../../styles/zeroing/global';

.modified-transaction-modal-window {
    max-height: 80vh;

    display: flex;
    flex-direction: column;

    border-radius: 20px 20px 0 0;

    overflow-y: scroll;

    position: relative;
}

.modified-transaction-section {
    display: flex;
    flex-direction: column;

    background-color: #fff;

    border-radius: 20px 20px 0 0;

    padding: 20px;

    gap: 10px;
}

.get-gap {
    gap: 10px !important;
}