@import '../../../styles/zeroing/global';

.date-interval {
    flex-shrink: 1;
    display: flex;
    align-items: center;
    gap: 10px;

    padding: 10px;

    overflow: hidden;

    svg {
        width: 20px;
        height: 20px;
    }

    transition: .1s;

    border-radius: 20px;

    &:active { background-color: $main-gray-active-color }
}

.date-interval-label {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    font-size: 14px;

    font-family: custom-bold, Manropw, sans-serif;
}