@import 'global.css';

.modified-count {
    display: flex;
    align-items: center;
    justify-content: center;

}

.modified-count-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    overflow: hidden;
}

.modified-count-currency {
    font-size: 32px;
    color: $main-red-color;
}

.modified-count-value {
    font-size: 32px;
    color: $main-red-color;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}