@import '../../../styles/zeroing/global';

.transaction-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-grow: 1;

    padding-bottom: 10px;

    position: relative;
}

.no-transactions {
    font-family: custom-bold, Manrope, sans-serif;

    margin: auto;
}

