@import '../../../../styles/zeroing/global';

.add-transaction-modal-window {
    display: flex;
    flex-direction: column;
}

// time
.add-transaction-date-section {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.add-transaction-date-arrow {
    width: 15px;
    height: 15px;

    padding: 5px;

    transition: .3s;

    border-radius: 50%;

    &:active {
        background-color: $main-gray-active-color;
    }
}

.add-transaction-date-wrapper {
    position: relative;
}

.add-transaction-date-input {
    width: 0;
    height: 0;

    position: absolute;
    top: 0;
    left: 0;

    opacity: 0;
}

.add-transaction-date {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;

    svg {
        width: 20px;
        height: 20px;

        color: $main-opacity-color;
    }

    font-family: custom-bold, Manrope, sans-serif;

    padding: 10px 0 10px;
}

.add-transaction-date-info {
    display: flex;
    gap: 10px;
}

// count

.add-transaction-count {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 10px 0;
}

.add-transaction-count-value {
    display: flex;
    align-items: center;
    gap: 10px;

    color: $main-red-color;

    font-size: 32px;
}

.add-transaction-more-info {
    position: relative;
}

.add-transaction-more-info-wrapper {
    width: 300%;

    display: flex;

    transition: .3s;
}

.start {transform: translateX(0)}
.middle {transform: translateX(-33.33%)}
.end {transform: translateX(-66.66%)}

// animation

.error-animation {
    animation: error-animation;
    animation-duration: 0.7s;
}

@keyframes error-animation {
    0% {
        transform: translateX(10px);
    }
    20% {
        transform: translateX(-10px)
    }
    40% {
        transform: translateX(10px)
    }
    60% {
        transform: translateX(-10px)
    }
    80% {
        transform: translateX(10px)
    }
    100% {
        transform: translateX(0)
    }
}

