@import '../../../styles/zeroing/global';

.options-filter {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.options-filer-wrapper {
    padding: 8px;

    transition: .1s;

    border-radius: 20px;

    &:active {
        background-color: $main-gray-active-color;
    }

    svg {
        width: 20px;
        height: 20px;
    }
}