$main-green-color: #24e597;
$main-green-rgb-color: rgb(36, 229, 151);
$main-green-dark-color: #05bc19;
$footer-btn-color: #17cb04;
$main-blue-color: #429cfc;
$main-red-color: #ee3a3a;
$main-orange-color: #f5d544;
$main-shadow: 0 0 15px #e3e1e1;
$main-gray-color: #a6a6a6;
$main-gray-active-color: #e0e0e0;
$modal-window-background: rgb(#c2bcbc, 0.5);
$transaction-background: #f6f5f5;
$main-opacity-color: #a1a0a0;
$main-gray-background: #eaeaea;
$main-gray-light-background: #f5f5f5;

// function
%delete-scroll {
    &::-webkit-scrollbar { display: none }
    scrollbar-width: none;
    -ms-overflow-style: none;
}

%general-page {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 20px;

    padding: 20px 0;

    position: relative;

    overflow-x: hidden;
}

