@import '../../../../styles/zeroing/global';

.analytics-create-budget-modal-window {
    display: flex;
    flex-direction: column;

    background-color: #fff;

    padding: 20px;
}

.analytics-create-budget-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.analytics-create-budget-close-modal-window-btn {
    svg {
        width: 20px;
        height: 20px;

        transition: .3s;
    }

    &:active { svg { opacity: 0.5 } }
}

.analytics-create-budget-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.analytics-create-budget-modal-window-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 10px 20px;

    color: #fff;
    font-family: custom-bold, Manrope, sans-serif;

    border-radius: 20px;

    transition: .1s;

    &:active { opacity: 0.5 }
}

.create-budget-modal-window-btn-create { background-color: $main-green-color }
.create-budget-modal-window-btn-reset { background-color: $main-red-color }