@import '../../../styles/zeroing/global';
// header
header {
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 10px;

    overflow: hidden;

    position: sticky;
    top: 0; left: 0;

    transition: .3s;

    box-shadow: 0 0 15px lightgray;
}

// info fraction
.basic-header-info-fraction {
    display: grid;
    grid-template-columns: 55px auto;
    grid-template-rows: repeat(2, 25px);
    column-gap: 10px;
    row-gap: 5px;
}

// img
.basic-header-img-wrapper {
    grid-row: span 2;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;

    img {
        width: 50px;
        height: 50px;

        border-radius: 50%;

        border: 2px solid $main-green-color;
    }
}

// nickname
.basic-header-nickname-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    overflow: hidden;
}

.basic-header-nickname {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    font-size: 18px;
    color: #333;
}

// subscription level
.basic-header-subscription-level-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.basic-header-subscription-level {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 3px 6px;

    border-radius: 20px;

    background-image: linear-gradient(150deg, $main-green-color 60%, $main-green-dark-color);

    color: #fff;

    font-size: 12px;

    font-family: custom-bold, Manrope, sans-serif;

    transition: .3s;
}

// pro level
.subscription-pro-level {
    box-sizing: initial;
    background: linear-gradient(90deg, #e5dc1b 30%, #e5ee71);
    border: 2px solid #f8de55;
}

// buttons fraction
.basic-header-info-buttons {
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    gap: 20px;
}

.basic-header-info-button-wrapper {
    width: 30px;

    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
        width: 20px;
        height: 20px;
    }
}
