@import '../../../../../styles/zeroing/global';

%category-settings {
    width: auto !important;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    padding: 6px 12px;

    font-family: custom-bold, Manrope, sans-serif;

    border: 2px solid var(--modified-category-color);
    border-radius: 12px;

    color: var(--modified-category-color);

    transition: 0.3s;
}

%category-settings-active {
    background-color: var(--modified-category-color);

    color: #fff;
}

.modified-expense-category {@extend %category-settings}

.modified-expense-category-active {@extend %category-settings-active}

.modified-expense-sub-category {@extend %category-settings}

.modified-expense-sub-category-active {@extend %category-settings-active}