@import '../../../../styles/zeroing/global';
// main wrappers
.create-account-modal-window {
    width: 320px;

    display: flex;
    flex-direction: column;
    gap: 20px;

    position: relative;

    background-color: #fff;

    border-radius: 20px;

    padding: 20px;
}

// header
h4 { font-size: 24px }

// form
.create-card-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

// name
.create-account-name-input {
    width: 280px;
    height: 50px;

    border-radius: 20px;

    border: 2px solid $main-green-color;

    padding: 0 10px;

    font-size: 16px;

    &::placeholder {
        font-size: 14px;
        color: lightgray;
    }
}

// type
.create-account-type-toggle-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.create-account-type-toggle {
    display: flex;

    background-color: lightgray;

    border-radius: 20px;

    position: relative;

    overflow: hidden;

}

.create-account-type-toggle-btn {
    width: 70px;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 10px 0;

    font-family: custom-bold, Manrope, sans-serif;

    transition: .3s;

    z-index: 1;
}

.create-account-type-focus {
    width: 50%;
    height: 100%;

    background-color: $main-green-color;

    transition: .3s;

    position: absolute;
    top: 0;
    left: 0;

    border-radius: 20px 0 0 20px;
}

.create-account-active-type { color: #fff }

.create-account-card-focus {
    left: 50%;
    border-radius: 0 20px 20px 0;
}

// preview
// tile
.create-account-preview {
    width: 100%;

    display: grid;
    grid-template-columns: 45px 1fr auto;
    grid-template-rows: 45px;
    column-gap: 10px;

    padding: 10px;

    border-radius: 20px;

    box-shadow: 0 0 15px lightgray;
}

// sign
.create-account-sign-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.create-account-card-sign {
    width: 40px;
    height: 26px;

    position: relative;

    border-radius: 5px;

    background-image: linear-gradient(60deg, #24e597 50%, #05bc19);
}

.create-account-sign-card__number {
    width: 10px;
    height: 5px;

    border-radius: 4px;

    background-color: #fff;

    position: absolute;
    top: 5px;
    left: 5px;
}

.create-account-sign-card__type {
    width: 6px;
    height: 6px;

    border-radius: 50%;

    background-color: #fff;

    position: absolute;
    bottom: 5px;
    right: 5px;
}

.create-account-cash-sign {
    width: 40px;
    height: 26px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #fff;

    font-family: custom-bold, Manrope, sans-serif;

    border-radius: 5px;

    background-image: linear-gradient(60deg, #24e597 50%, #05bc19);
}

// name
.create-account-name-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    overflow: hidden;
}
.create-account-name-value {
    font-size: 18px;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.create-account-count-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    overflow: hidden;
}

.create-account-count-value {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

// btns
.create-account-btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apply-btn, .cancel-btn, .delete-btn { box-shadow: 0 0 15px lightgray }

@media (max-width: 400px) {
    .apply-btn, .cancel-btn, .delete-btn { width: 75px !important; height: 50px !important;  }
}
@media (max-width: 320px) {
    .create-account-modal-window { width: 300px }
    .create-account-name-input { width: 260px }
}